@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-corporate-blue: #002e5b;
  --color-corporate-orange: #ffad18;

  --font-oswald: var(--font-oswald);
  --font-lato: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}